%title=t('.title')
%h2=t('.title')

%table{:style => "width:70%"}
  %thead
    %tr
      %th
        =t('.heading2')
      %th
        =t('.heading1')
      %th
      %th
      %th

  %tbody
    - @comments.each do |comment|
      %tr

        %td= comment.post.title
        %td= comment.message
        %td= link_to t('show'), comment
        %td= link_to t('edit'), edit_comment_path(comment)
        %td= link_to t('delete'), comment, method: :delete, data: { confirm: t('delete_message') }

%br
= link_to 'Back', posts_path
