%title= t('app_title')
%p
  %b=t('.heading2') +":"
  = @comment.post.title
%p
  %b=t('.heading1') +":"
  = @comment.message

= link_to t('edit'), edit_comment_path(@comment)
\|
= link_to t('back'), @comment.post
