%title= t('app_title')
%h2
  = @post.title
%p
  = @post.content
%p
  %b By:
  = @post.author
  =","
  = @post.date




%p
  = link_to t('.add_comment'), new_comment_path(post_id: @post)

\|
= link_to t('back'), posts_path()
%h3= t('.comments_title') + ":"
%table
  %tbody
  - @post.comments.each do |comment|
    %tr
      %td="PokeBen user: "
      %td &nbsp;
      %td= comment.user_id
      %td &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      %td= comment.message
      %td
      -if comment.user == current_user
        %td= link_to t('edit'), edit_comment_path(comment)
        %td= link_to t('delete'), comment, method: :delete, data: { confirm: 'Are you sure?' }
