%p#notice= notice

%h2
  = @post.title
%p
  = @post.content
%p
  %b By:
  = @post.author
  =","
  = @post.date




%p
  = link_to 'Add Comment', new_comment_path(post_id: @post)

\|
= link_to 'Back', posts_path
%p Comments:
%table
  %tbody
  - @post.comments.each do |comment|
    %tr
      %td="PokeBen user: "
      %td= comment.user_id
      %td= "_____________"
      %td= comment.comment
