%h2 Products
= form_for "",url: products_path, role: "search", method: :get do
  = text_field_tag :search, @search_term,placeholder: "Search... e.g Booster Packs"
%table{:cellpadding => "0", :cellspacing => "0"}

  %tbody

    - @products.each do |product|

      %tr
        %td
          %img{:src => product.image, :width => 300}
      %tr
        %td= product.name
      %tr
        %th Collection
        %td= product.collection
      %tr
        %th Category
        %td= product.category
      %tr
      %span
        %td= button_to 'Add to Tracker', product_to_trackers_path(product_id: product), :remote => true
      %td= link_to 'Show', product
      %td{:id => "product_#{product.id}", :style => "color:green;text-align:center;"}
%br
