%p#notice= notice


%table
  %tbody
    %tr
    %tr
    %td
      %p
        %b Name:
        = @product.name
      %p
        %b Collection:
        = @product.collection
      %p
        %b Category:
        = @product.category
      %p
        %b
        = link_to 'Back', products_path
      %td
        %img{:src => "/" + @product.image, :width => 500}
