!!!

%html
  %head
    %meta{'charset' => 'utf-8'}
    %meta{'http-equiv' => 'x-ua-compatible', 'content' => 'ie=edge'}
      %title= t('app_title')



    %meta{'name' => 'description', 'content' => t('app_description')}
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turrbolinks-track' => true
    = javascript_include_tag 'modernizr'
    = csrf_meta_tags

  %body
    = render "shared/navbar"



    %div#incoming_content
      %table
        %tr
        %tr
        %td
          %a{:href => "/"}
            %img{:src => "/pokeball.png", :width => 200}
          %td
            %a{:href => "/"}
              %h1=t('app_title')
          %td
            %a{:href => "/tradingtracker"}
              %img{:src => "/tracker.jpg", :width => 200}






      = render 'shared/header'
      = yield
      = render 'shared/footer'
